# EmailJS Configuration
# Get these values from https://www.emailjs.com/
# 1. Create an account and set up a service (Gmail, Outlook, etc.)
# 2. Create an email template
# 3. Get your Public Key from Account > General

VITE_EMAILJS_SERVICE_ID=service_xxxxxxx
VITE_EMAILJS_TEMPLATE_ID=template_xxxxxxx
VITE_EMAILJS_PUBLIC_KEY=your_public_key_here